body {
  background-color:#F6F4EB;
}

.section#firstSection {
    top: 59px;
    height: 70vh;
    padding: 0%;
    
    background-size: cover;
   
  }
#firstSection  {
  
    height: inherit;
    width : auto;
    background-size: cover;
   
  }
#carouselExampleAutoplaying {
  padding: 25px 7%;
}

.cont-btn {
  display: inline-block;
}
.carousel-item {
  height: fit-content;
  width : 700px;
 
 background-color: whitesmoke;
 margin-left: 5em;
 padding : 10px;
 /*column-gap: 2rem;
 grid-template-columns: 1fr 1.5fr;
 grid-template-rows: repeat(2, 1fr );
 border: solid red;*/
}
.carousel-item.active {
  
  display: grid !important;
  column-gap: 1rem !important;
  grid-template-columns: 1fr 4fr !important;
  grid-template-rows: repeat(2, 1fr) !important;
}
.item1 {
  grid-row: span 2;
  
}
.item1 > img {
border-radius: 50%;
height: 100px;
max-width: 100px;
border-style: solid;
border-width: 2px;
}
.item1> .tweetTag {
  opacity: 50%;
}
#secondSection {
  height : 70vh ;
  background-color: #4682A9;
  background-size: cover;
  margin-bottom: 5rem;;
}
#thirdSection {
   display : flex ;
   flex-direction: row;
   justify-content: space-between ;
   padding:auto 15% ;
   background-color: #F6F4EB;
}
