
.section#firstSection {
    top : 56px;
    height: 70vh;
    z-index: 0;
    position: absolute;
    top : 59px;
    padding: 0%;
    
   
}
#firstSection .imageContainer {
    
    background-image: url('./spaceImagejpg.jpg');
    height: inherit;
    width : auto;
    background-size: cover;
  }
