#navbarItemsCont {
   display: flex;
   flex-direction: row;
   justify-content: space-between;

}

nav {
    background-color: transparent;
    z-index: 1;
    top : 0;
    max-height: 59px;
}
.hidden {
    display : none;
}